<!DOCTYPE html>
<html lang="en">
<!-- 
  Author: Jackson Johnson 301174798
  Date: September 16th, 2021 TTT
  Time: 9:16 PM TORONTO
-->

<head>
    <%- include('../partials/head'); %>
</head>

<body class="container">

    <header>
        <%- include('../partials/header'); %>
    </header>

    <main class="container">
        <div class="row">
            <div class="col-md-offset-3 col-md-9">
                <h1>Business Contacts</h1>
                <a href="/add" class="btn btn-primary" role="button">Add Contact</a>
                <br>
                <table class="table table-bordered table-striped table-hover">
                    <!-- Header Row-->
                    <tr>
                        <th class="text-center">Name</th>
                        <th class="text-center">Phone</th>
                        <th class="text-center">Email</th>
                        <th class="text-center"></th>
                        <th class="text-center"></th>
                    </tr>
                    <!-- Repeatable Template Row-->
                    <% for(var i = 0; i < ContactList.length; i++) { %>
                        <tr>
                            <td class="text-center"><%= ContactList[i].name %></td>
                            <td class="text-center"><%= ContactList[i].phone %></td>
                            <td class="text-center"><%= ContactList[i].email %></td>
                            <td class="text-center">
                                <a href="/edit/<%= ContactList[i]._id %>" class="btn btn-primary">Edit</a>
                            </td>
                            <td class="text-center">
                                <a href="/delete/<%= ContactList[i]._id %>" class="btn btn-danger">Delete</a>
                            </td>
                        </tr>
                        <% } %>
                </table>
            </div>
        </div>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>

</html>