<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body class="container">

    <header>
        <%- include('../partials/header'); %>
    </header>

    <main>
        <div class="jumbotron">
            <h1>The Top 3 Projects</h1>

            <strong>
                <p>
                    <%= tagline %>
                </p>
            </strong>

            <strong>
                <h3>
                    <%= woodcutter %>
                </h3>
            </strong>

            <img src="../../images/woodcutter.png" class="img-fluid" alt="poly woodcutter">

            <p>Is an advanced AIO woodcutting script, for TRiBot exclusively.</p>
            <p>Jam packed with premium features such as:</p>  
            <ul>
                <li>Redwood - All locations</li>
                <li>Teaks - Isle of souls</li>
                <li>Advanced and unqiue anti-ban - No other script has</li>
                <li>Oak planking - Built into the core</li>
                <li>Fletching - After inventory is full</li>
                <li>Daxwalker - Intelligent web walking</li>
                <li>Client arguments - Declare script state quicker and easier</li>
                <li>Custom graphics - Clean, elegant and easy to read</li>
                <li>JavaFX - Sleek and modern GUI</li>
            </ul>         
            <p>And much more to come...</p>

            <strong>
                <h3>
                    <%= motherlode %>
                </h3>
            </strong>

            <img src="../../images/motherlode.png" class="img-fluid" alt="motherlode mine x">

            <p>Is my latest and greatest invention, for TRiBot exclusively. </p>
            <p>Capable of performing the motherlode mine perfectly.</p>
            <p>With advanced features such as:</p>
            <ul>
                <li>All motherlode mine areas - Upper and lower</li>
                <li>Advanced and unique anti-ban - No other script has</li>
                <li>Daxwalker - Intelligent webwalking</li>
                <li>Strut repair - Repair the broken struts</li>
                <li>Bank tasks - Retrieve optimal mining gear</li>
                <li>Smart auto-upgrade - Intelligent pickaxe auto-upgrade</li>
                <li>Custom graphics - Nikola Tesla inspired</li>
                <li>JavaFX - Sleek and modern GUI</li>
                <li>TRiBot SDK - Makes full use of the brand new SDK</li>
            </ul>
            <p>And much more to come...</p>

            <strong>
                <h3>
                    <%= sulliuscep %>
                </h3>
            </strong>

            <img src="../../images/sulliuscep.jpeg" class="img-fluid" alt="sulliuscep x">

            <p>Is still in the works and not available yet.</p>
            <p>Will be capable of performing sulliuscep perfectly.</p>
            <p>Will consist of the following features:</p>
            <ul>
                <li>All food - Anything that is edible</li>
                <li>Advanced and unique anti-ban - No other script has</li>
                <li>Daxwalker - Intelligent webwalking</li>
                <li>Poison - Intelligent poison control</li>
                <li>Bank tasks - Retrieve optimal gear</li>
                <li>Smart auto-upgrade - Intelligent axe auto-upgrade</li>
                <li>Custom graphics - Coming soon</li>
                <li>JavaFX - Sleek and modern GUI</li>
                <li>TRiBot SDK - Makes full use of the brand new SDK</li>
            </ul>
            <p>Sulliuscep X - Coming SOON! </p>
        </div>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>

</html>