<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body class="container">

    <header>
        <%- include('../partials/header'); %>
    </header>

    <main>
        <div class="jumbotron">
            <h1>The Services</h1>
            <ul>
                <% services.forEach(function(service) { %>
                    <li>
                        <strong>
                            <%= service.service %>
                        </strong>
                        - <%= service.description %>
                            
                    </li>
                    <% }); %>
            </ul>
        </div>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>

</html>